h1 {
	color:#9068be;
}


/* navbar */

.container-fluid {
	padding: 0;
}

#nav_bar {
	background-color: #3c3c3d;

}

.nav-link{
	color: white;
}

.nav-link:hover{
	color: #e62739;
	background-color: black;
}