{% extends 'base.html' %}


{% block title %}{% endblock %}


{% block content %}
	

	<h1>All connections Test</h1>

	{% if connections %}
		
		{% for connection in connections %}
			<p>{{ connection }}</p>
		{% endfor %}	

	{% else %}
		<p>You don't have any connections</p>
	{% endif%}
	
	<h2>Find new friends:</h2>
	<form method="get" action="">
		<input type="text" name="q" placeholder="Search friends" value="{{ request.GET.q }}">
		<input type="submit" value="Search">
	</form>

	
	{% if users %}
		<ul>
			{% for user in users %}
			<li>
				<p>{{ user.username}} </p>
				<p>{% include 'friend_form.html' with friend_name=user.username %}</p>
				<hr/>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No friends so far... click search to find new ones!</p>
	{% endif %}
	

	

{% endblock %}