{% extends 'base.html' %}

{% block title %}Deadlinekillers | {{ team.name }}{% endblock %}

{% block content%}


	<div class="row">
		<div class="col-12">
			<h2>Team: {{ team.name }}</h2>
			<p><small>Boss (creator): {{ team.creator }}</small></p>
		</div>
		
	</div>


	<div class="row">
			

			<div class="col-6">
				<h3>Members:</h3>
				<p>All team members here</p>
				<ul>
					{% for member in team_members %}
						<li>{{ member.user.username }} {% include 'teams/remove_from_team.html' with team_pk=team.pk profile_pk=member.pk %}</li>
					{% endfor %}
				</ul>
			</div>
			

			<div class="col-6">
					<form action="" method="get">
						<p>Search for new team members</p>
						<input type="text" name='q' >
						{% csrf_token %}
						<input type="submit" value="Search" class="btn btn-primary">
					</form>
			</div>


	</div>

	<hr/>
		
	<div class="row">
		

		<div class="col-12">
			<h3>Choose a new team member from your friends</h3>
			{% if users %}
				<ul>
				{% for u in users %}
					<li>{{u}} | {% include 'teams/add_to_team.html' with team_pk=team.pk con_pk=u.pk %}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>no users</p>
			{% endif %}	
		</div>


	</div>

	<hr/>
		
	<div class="row">
		

		<div class="col-6">
			<p><a class="badge badge-danger" href="{% url 'teams:team_delete' team.pk team.slug %}">Delete</a> this Team.</p>
		</div>


		<div class="col-6">
			<p>Back to <a class="badge badge-primary" href="{% url 'teams:team_list' %}">teams</a>.</p>
		</div>


	</div>
	

{% endblock %}