{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create team{% endblock %}


{% block content %}
	<div class="row">


		<div class="col-4"> 
			<h1>Create new team</h1>
			<form action="" method="post">
				{{ form|crispy }}
				{% csrf_token %}
				<input type="submit" value="Create new team">
			</form>
		</div>


		<div class="col-2"><!-- empty div, free space--></div>


		<div class="col-6">
			<h2>Fill the form and manage!</h2>
			<p>Teams help to manage your tasks and deadlines.</p>
		</div>
		

	</div>

	

{% endblock %}