{% extends 'base.html' %}

{% block title %}Deadlinekillers | {{ team.name }}{% endblock %}

{% block content%}

	<h2>Team: {{ team.name }}</h2>
	<p><small>Boss (creator): {{ team.creator }}</small></p>
	<h3>Members:</h3>
	<p>All team members here</p>
	<ul>
		{% for member in team_members %}
			<li>{{ member }}</li>
		{% endfor %}
	</ul>
	<hr/>
	<form action="" method="get">
		<p>Search for new team members</p>
		<input type="text" name='q' >
		{% csrf_token %}
		<input type="submit" value="Search">
	</form>
	<hr>
	{% if users %}
		{% for u in users %}
			<p>{{u}} | <small><a href="#">add to the team</a></small></p>
		{% endfor %}
	{% else %}
		<p>no users</p>
	{% endif %}
	
	<hr/>
	<p>Back to <a href="{% url 'teams:team_list' %}">teams</a>.</p>
	<hr/>
	<p><a href="{% url 'teams:team_delete' team.pk team.slug %}">Delete</a> this Team.</p>

{% endblock %}