{% extends 'base.html' %}


{% block title %}{{ deadline.name }}{% endblock %}



{% block content %}

	<h1>Deadline: {{ deadline.name }}</h1>
	<p>Priority: {{ deadline.priority }}</p>
	<p>{{ deadline.description }}</p>
	<p>Created: {{ deadline.created }}</p>
	<p>Updated: {{ deadline.updated }}</p>






	<p><a href="{% url 'deadlines:deadline_update' deadline.pk deadline.slug %}">Update</a> this deadline.</p>

	<p>All deadlines <a href="{% url 'deadlines:deadline_list' %}">here</a>.</p>
{% endblock %}