{% extends 'base.html' %}


{% block title %}{{ deadline.name }}{% endblock %}



{% block content %}


	<div class="row">
		
		<div class="col-6">
			<h2>Deadline: {{ deadline.name }}</h2>
			<h2><span class="badge badge-warning">{{ deadline.deadline_date }}</span></h2>
			<p>Priority: {{ deadline.priority }}</p>
			<p>{{ deadline.description }}</p>
			<p>Created: {{ deadline.created }}</p>
			<p>Updated: {{ deadline.updated }}</p>
		</div>
		

		<div class="col-3">
			<h3>Actions: </h3>
			<p><a href="{% url 'deadlines:deadline_update' deadline.pk deadline.slug %}">Edit</a> this deadline.</p>
			<p><a href="{% url 'deadlines:deadline_delete' deadline.pk deadline.slug %}">Delete</a> this deadline.</p>
			<p>All deadlines <a href="{% url 'deadlines:deadline_list' %}">here</a>.</p>
		</div>
			

		<div class="col-3">
			<h3>Manage:</h3>
			{% if all_user_teams %}
				<p>Add team to this deadline.</p>
					{% for team in all_user_teams %}
						<div class="card" style="width: 18rem;">
							 <div class="card-body">
							 	<a href="{{ team.get_absolute_url }}">{{ team }}</a>
								<form action="" method="post">
									<input type="hidden" name="operation" value="add">
									<input type="hidden" name="team_pk" value="{{ team.pk }}">
									<input type="hidden" name="deadline_pk" value="{{ deadline.pk }}">
									{% csrf_token %}
									<input type="submit" value="Add to a deadline" class="btn btn-primary">
								</form>
							</div>
						</div>
					{% endfor %}
			{% else %}
				<p>All your teams are in this deadline.</p>
			{% endif %}
				<p><a href="#">Add participant to this deadline</a></p>			
		</div>


	</div>


	<div class="row">
		

		<div class="col-6">
			<h3>Teams of this deadline:</h3>
			<ul>
				{% for team in deadline.team.all %}
					<li>
						<a href="{{ team.get_absolute_url }}"> {{ team }}</a>
						<form action="" method="post" style="display: inline-block;">
							<input type="hidden" name="operation" value="remove">
							<input type="hidden" name="team_pk" value="{{ team.pk }}">
							{% csrf_token %}
							<input type="submit" value="remove" class="btn btn-danger">
						</form>
					</li>
				{% endfor %}
			</ul>
		</div>


		<div class="col-6">
			<h3>Participants:</h3>
			<p>list of all deadline participants</p>
		</div>


	</div>


{% endblock %}